#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.photo-grid {
    display: flex;
    width: calc(100% - 200px);
    margin: 30px 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    position: relative;
    width: 25vw;
    height: 25vw;
    background-color: rgb(173, 173, 173);
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}

#h2 {
    color: #D3573C;
    font-size: 64px;
    line-height: 84px;
    margin: 0;
}

#p1 {
    color: #901C1C;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
}

#p2 {
    font-size: 18px;
    line-height: 24px;
    color: #757575;
    margin-top: 20px;
}

#img1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.imgContainer {
    position: relative;
    margin-bottom: 5vw;
}

.imgTitle {
    position: absolute;
    bottom: -40px;
    left: 0;
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
}

.imgLikes {
    position: absolute;
    bottom: -40px;
    right: 0;
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heartIcon {
    background-image: url(../assets/icons/heart.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    margin-left: 5px;
}

/* LIGHTBOX */
.lightbox {
    display: none;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: calc(100% - 100px);
    height: calc(100vh - 40px);
    top: 0;
    left: 0;
    padding: 20px 50px;
}

.lightbox-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}

.lightbox-photo {
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

.lightbox-close {
    position: absolute;
    top: 0;
    right: 0;
}

/* TRIER */
/* .trier {
    padding: 40px 100px;
}
.trier select {
    background-color: #901C1C;
    color: white;
    padding: 20px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.trier select option {
    background-color: #901C1C;
    color: white;
    padding: 20px;
    height: 50px;
}
.trier label {
    font-weight: bold;
} */
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* FIXED INFOS */
.infos-fixed {
    width: 375px;
    background-color: #DB8876;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes-fixed {
    font-size: 24px;
}

.tarif-fixed {
    font-size: 24px;
}

.heartIconBlack {
    background-image: url(../assets/icons/heart-black.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    margin-left: 5px;
}

/* CONTACT */
#contact_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: 1s backdrop-filter linear;
    -webkit-transition: 1s -webkit-backdrop-filter linear;
    -moz-transition: 1s -moz-backdrop-filter linear;
    -ms-transition: 1s -ms-backdrop-filter linear;
    -o-transition: 1s -o-backdrop-filter linear;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}